version: 2.1

# Import the team's config as an orb
orbs:
  team-config: << pipeline.parameters.config-override-url >>

# Define parameters for configuration
parameters:
  config-override-url:
    type: string
    default: "https://raw.githubusercontent.com/mseong6251/Config-Override-Component/refs/heads/main/orb.yml"

jobs:
  build:
    docker:
      - image: cimg/base:2023.03
    steps:
      - checkout
      - run: echo "Building application"

  test:
    docker:
      - image: cimg/base:2023.03
    steps:
      - checkout
      - run: echo "Running standard tests"

workflows:
  main:
    jobs:
      - build
      - test:
          override-with: team-config/custom-test
          requires:
            - build
